test/simulations/*
test/template/MeshGenerator/*
.venv
.DS_Store
VTK*
*.vtk
*.egg-info
*/data/
*/data.bak/
*/template/Backup/
*/template/MeshGenerator/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz